.helpbutton {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  color: gray;
  border: solid;
  font-weight: bold;
  cursor: pointer;
}
