.helpbutton {
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  color: #6b430fb4;
  text-align: center;
  font-size: 19px;
  border: solid;
  border-width: 3.5px;
  font-weight: bold;
  cursor: pointer;
}
